#**************************************************
# Project Config
#**************************************************
.vscode
.vs

#**************************************************
# PS2 Toolchain Output
#**************************************************
*.[Oo]
*.[Aa]
*.[Ee][Ll][Ff]
*.[Ee][Rr][Xx]
*.[Ii][Rr][Xx]
*.[Ii][Mm][Gg]
*.[Mm][Aa][Pp]
PathDefs

#**************************************************
# Excludes
#**************************************************
backup/
cdrom.img/*

#**************************************************
# Includes
#**************************************************
!.gitkeep
!cdrom.img/
